.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: rgb(255, 255, 255);
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(230, 230, 230);
}
.sidebar-link img{
  height: 28px;
  margin-bottom: 4px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
}